/.bundle
/.env
/.env.*
!/.env.example
/config/credentials/*.key
/config/master.key
/coverage
/log/*
!/log/.keep
/storage/*
!/storage/.keep
/tmp/*
!/tmp/.keep
!/tmp/pids
/tmp/pids/*
!/tmp/pids/.keep
!/tmp/storage
/tmp/storage/*
!/tmp/storage/.keep
